@using Todo.Controllers
@using Todo.Data.Entities
@using Todo.Services
@using Todo.Views.TodoItem
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
	ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">

	<ul class="list-group">

		<li class="list-group-item">
			<a asp-action="Create" asp-controller="TodoItem" asp-route-todoListId="@Model.TodoListId">
				<strong>Add New Item</strong>
			</a>
		</li>

		@foreach (var item in Model.Items)
		{
			string contextualClass;
			switch (item.Importance)
			{
				case Importance.High:
					contextualClass = "list-group-item-danger";
					break;
				case Importance.Low:
					contextualClass = "list-group-item-info";
					break;
				default:
					contextualClass = "";
					break;
			}

			<li class="list-group-item @contextualClass">

				<div class="row">

					<div class="col-md-6">
						<a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

							@if (item.IsDone)
							{
								<s>@item.Title</s>
							}
							else
							{
								<text>@item.Title</text>
							}
						</a>
					</div>
					<div class="col-md-2 text-center">
						<text>@item.Rank</text>
					</div>
					<div class="col-md-4 text-right">
						<small>
							@item.ResponsibleParty.UserName

							<img src="https://www.gravatar.com/avatar/@Gravatar.GetHash(item.ResponsibleParty.Email)?s=30" />

						</small>
					</div>
				</div>

			</li>
		}
		<form method="post">
			@Html.AntiForgeryToken()
			@Html.HiddenFor(m =>@Model.TodoListId)
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-12">
					<label asp-for="RankOrder"></label>
						@Html.DropDownListFor(
					m => m.RankOrder,
					SelectListConvenience.OrderSelectListItems,
					new {@class="form-control"}
					)
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-5">
					<div class="checkbox">
						<label>
							<input type="checkbox" asp-for="HideDone" />Hide done items
						</label>
					</div>
				</div>
				<div class="col-md-5">
					<div class="checkbox">
						<label>
							<input type="checkbox" asp-for="ImportanceOrder" />Importance order
						</label>
					</div>
				</div>
				<div class="col-md-2">
					<div class="button">
						<button type="submit" class="btn btn-default">Filter</button>
					</div>
				</div>
			</div>
		</li>
		</form>
	</ul>
</div>